<html xmlns="http://www.w3.org/1999/xhtml"
  version="-//W3C//DTD XHTML 1.1//EN" xml:lang="en" >

  <head>
    <title>Array Price Maintenance Page</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/stylesheets/maintenance.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="content" >
      <img src="http://demo.pragmaticstudio.com/images/fr_arr.jpg"
          alt="Recipes" />

      <h1>
        The Array Pricer is currently offline for <%= reason ? reason : "maintenance" %>
        as of <%= Time.now.strftime("%I:%M %p %Z" ) %>.
      </h1>

      <p>
        Sorry for the inconvenience. We'll be back
        <%= deadline ? "by #{deadline}" : "shortly" %>.
        Please <a href="mailto:info@railsrecipes.com" >e-mail us</a>
        if you need to get in touch.
      </p>
    </div>
  </body>
</html>
